apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manager.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- files:
  - controller_manager_config.yaml
  name: manager-config
images:
- name: controller
  newName: quay.io/openshift-kni/lifecycle-agent-operator
  newTag: 4.21.0
patches:
- path: related-images/patch.yaml
