apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/name: lifecycle-agent-operator
    app.kubernetes.io/component: lifecycle-agent
    control-plane: controller-manager
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/warn: privileged
  annotations:
    workload.openshift.io/allowed: management
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    app.kubernetes.io/name: lifecycle-agent-operator
    app.kubernetes.io/component: lifecycle-agent
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: lifecycle-agent-operator
      app.kubernetes.io/component: lifecycle-agent
      control-plane: controller-manager
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: lifecycle-agent-operator
        app.kubernetes.io/component: lifecycle-agent
        control-plane: controller-manager
      annotations:
        openshift.io/scc: privileged
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
    spec:
      containers:
      - command:
        - /usr/local/bin/manager
        args:
        - --metrics-bind-address=:6443
        env:
        - name: MY_POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: MY_POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: controller:latest
        name: manager
        ports:
        - containerPort: 6443
          protocol: TCP
          name: https
        securityContext:
          privileged: true
          readOnlyRootFilesystem: false
        tty: true
        volumeMounts:
        - mountPath: /host
          name: host-root
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            cpu: 100m
            memory: 20Mi
      hostPID: true
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
      - hostPath:
          path: /
          type: Directory
        name: host-root
