apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "lca.openshift.io/v1alpha1",
          "kind": "ImageBasedUpgrade",
          "metadata": {
            "name": "upgrade",
            "namespace": "openshift-lifecycle-agent"
          },
          "spec": {
            "seedImageRef": {
              "image": "quay.io/xyz",
              "version": "4.14.0"
            },
            "stage": "Idle"
          }
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.28.0-ocp
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
  name: lifecycle-agent.v4.14.0
  namespace: openshift-lifecycle-agent
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: ImageBasedUpgrade is the Schema for the ImageBasedUpgrades API
      displayName: Image-based Cluster Upgrade
      kind: ImageBasedUpgrade
      name: imagebasedupgrades.lca.openshift.io
      resources:
      - kind: Deployment
        name: ""
        version: apps/v1
      - kind: Namespace
        name: ""
        version: v1
      statusDescriptors:
      - displayName: Conditions
        path: conditions
      - displayName: Status
        path: observedGeneration
      version: v1alpha1
  description: blah
  displayName: Openshift Lifecycle Agent
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        - apiGroups:
          - ""
          resources:
          - namespaces
          verbs:
          - delete
        - apiGroups:
          - ""
          resources:
          - nodes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - batch
          resources:
          - jobs
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - config.openshift.io
          resources:
          - clusterversions
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - config.openshift.io
          resources:
          - imagecontentpolicies
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - config.openshift.io
          resources:
          - imagedigestmirrorsets
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - config.openshift.io
          resources:
          - proxies
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - lca.openshift.io
          resources:
          - imagebasedupgrades
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - lca.openshift.io
          resources:
          - imagebasedupgrades/finalizers
          verbs:
          - update
        - apiGroups:
          - lca.openshift.io
          resources:
          - imagebasedupgrades/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - machineconfiguration.openshift.io
          resources:
          - machineconfigs
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - prometheusrules
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - monitoring.coreos.com
          resources:
          - servicemonitors
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - oadp.openshift.io
          resources:
          - dataprotectionapplications
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - operators.coreos.com
          resources:
          - clusterserviceversions
          verbs:
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - operators.coreos.com
          resources:
          - subscriptions
          verbs:
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - velero.io
          resources:
          - backups
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - velero.io
          resources:
          - backupstoragelocations
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - velero.io
          resources:
          - deletebackuprequests
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - velero.io
          resources:
          - restores
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: lifecycle-agent-controller-manager
      deployments:
      - label:
          app.kubernetes.io/component: lifecycle-agent
          app.kubernetes.io/name: lifecyle-agent-operator
          control-plane: controller-manager
        name: lifecycle-agent-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              app.kubernetes.io/component: lifecycle-agent
              app.kubernetes.io/name: lifecyle-agent-operator
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                openshift.io/scc: privileged
              labels:
                app.kubernetes.io/component: lifecycle-agent
                app.kubernetes.io/name: lifecyle-agent-operator
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /usr/local/bin/manager
                env:
                - name: PRECACHE_WORKLOAD_IMG
                  value: quay.io/openshift-kni/lifecycle-agent-operator:4.14.0
                image: quay.io/openshift-kni/lifecycle-agent-operator:4.14.0
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  requests:
                    cpu: 100m
                    memory: 20Mi
                securityContext:
                  privileged: true
                  readOnlyRootFilesystem: false
                tty: true
                volumeMounts:
                - mountPath: /host
                  name: host-root
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=10
                image: quay.io/openshift/origin-kube-rbac-proxy:4.14
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                resources: {}
              hostPID: true
              serviceAccountName: lifecycle-agent-controller-manager
              terminationGracePeriodSeconds: 10
              volumes:
              - hostPath:
                  path: /
                  type: Directory
                name: host-root
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: lifecycle-agent-controller-manager
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - upgrade
  links:
  - name: Lifecycle Agent
    url: https://lifecycle-agent.domain
  maturity: alpha
  provider:
    name: Red Hat
  version: 4.14.0
