variant: fcos
version: 1.5.0
{{if .SshPublicKey}}
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{.SshPublicKey}}
{{end}}
storage:
  files:
    - path: {{.AuthFilePath}}
      mode: 0400
      overwrite: true
      contents:
        local: {{.BackupSecret}}
    - path: {{.PullSecretPath}}
      mode: 0400
      overwrite: true
      contents:
        local: {{.PullSecret}}
    - path: {{.IBIConfigurationPath}}
      mode: 0400
      overwrite: true
      contents:
        local: {{.IBIConfiguration}}{{if .MirrorRegistryPath}}
    - path: /etc/containers/registries.conf
      mode: 0400
      overwrite: true
      contents:
        local: {{.MirrorRegistryPath}}{{end}}
    - path: /usr/local/bin/install-rhcos-and-restore-seed.sh
      mode: 0755
      overwrite: true
      contents:
        local: {{.InstallSeedScript}}{{if .AdditionalTrustBundlePath}}
    - path: /etc/pki/ca-trust/source/anchors/additional-trust-bundle.pem
      mode: 0400
      overwrite: true
      user:
        name: root
      contents:
        local: {{.AdditionalTrustBundlePath}}{{end}}{{if .NMStateConfigPath}}
    - path: /var/tmp/network-config.yaml
      mode: 0400
      overwrite: true
      contents:
        local: {{.NMStateConfigPath}}{{end}}

systemd:
  units:
    - name: install-rhcos-and-restore-seed.service
      enabled: true
      contents: |
        [Unit]
        Wants=network-online.target
        After=network-online.target
        Description=SNO Image Based Installation
        [Service]
        Environment=SEED_IMAGE={{.SeedImage}}
        Environment=HTTP_PROXY={{.HTTPProxy}}
        Environment=http_proxy={{.HTTPProxy}}
        Environment=HTTPS_PROXY={{.HTTPSProxy}}
        Environment=https_proxy={{.HTTPSProxy}}
        Environment=NO_PROXY={{.NoProxy}}
        Environment=no_proxy={{.NoProxy}}
        Environment=IBI_CONFIGURATION_FILE={{.IBIConfigurationPath}}
        Type=oneshot
        RemainAfterExit=yes
        ExecStartPre=/usr/bin/chcon -t install_exec_t /usr/local/bin/install-rhcos-and-restore-seed.sh
        ExecStart=/usr/local/bin/install-rhcos-and-restore-seed.sh
        [Install]
        WantedBy=multi-user.target
   {{if .NMStateConfigPath}}
    - name: pre-network-manager-config.service
      enabled: true
      contents: |
        [Unit]
        Description=Pre Network Manager Config
        After=NetworkManager.service
        Before=install-rhcos-and-restore-seed.service
        [Service]
        Type=oneshot
        RemainAfterExit=yes
        TimeoutSec=60
        ExecStart=bash -c "until /usr/bin/nmstatectl apply /var/tmp/network-config.yaml; do sleep 1; done"
        [Install]
        WantedBy=multi-user.target

   {{end}}
