variant: fcos
version: 1.5.0
{{if .SshPublicKey}}
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{.SshPublicKey}}
{{end}}
storage:
  files:
    - path: /var/tmp/backup-secret.json
      mode: 0400
      overwrite: true
      contents:
        local: {{.BackupSecret}}
    - path: /var/tmp/pull-secret.json
      mode: 0400
      overwrite: true
      contents:
        local: {{.PullSecret}}
    - path: /usr/local/bin/install-rhcos-and-restore-seed.sh
      mode: 0755
      overwrite: true
      contents:
        local: {{.InstallSeedScript}}
systemd:
  units:
    - name: install-rhcos-and-restore-seed.service
      enabled: true
      contents: |
        [Unit]
        Description=SNO Image Based Installation
        [Service]
        Environment=SEED_IMAGE={{.SeedImage}}
        Environment=SEED_VERSION={{.SeedVersion}}
        Environment=LCA_IMAGE={{.LCAImage}}
        Environment=INSTALLATION_DISK={{.InstallationDisk}}
        Environment=EXTRA_PARTITION_START={{.ExtraPartitionStart}}
        {{if .PrecacheDisabled}}
        Environment=PRECACHE_DISABLED=true
        {{else if .PrecacheBestEffort}}
        Environment=PRECACHE_BEST_EFFORT=true
        {{end}}
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/usr/local/bin/install-rhcos-and-restore-seed.sh
        [Install]
        WantedBy=multi-user.target
