[Unit]
Wants=network-online.target
After=network-online.target
Description=SNO Image Based Installation
[Service]
Environment=SEED_IMAGE={{.SeedImage}}
Environment=HTTP_PROXY={{.HTTPProxy}}
Environment=http_proxy={{.HTTPProxy}}
Environment=HTTPS_PROXY={{.HTTPSProxy}}
Environment=https_proxy={{.HTTPSProxy}}
Environment=NO_PROXY={{.NoProxy}}
Environment=no_proxy={{.NoProxy}}
Environment=IBI_CONFIGURATION_FILE={{.IBIConfigurationPath}}
Environment=PULL_SECRET_FILE={{.PullSecretPath}}
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/chcon -t install_exec_t /usr/local/bin/install-rhcos-and-restore-seed.sh
ExecStart=/usr/local/bin/install-rhcos-and-restore-seed.sh
[Install]
WantedBy=multi-user.target