[Unit]
Description=Image base SNO configuration script
After=prepare-installation-configuration.service NetworkManager-wait-online.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/bin/lca-cli post-pivot
EnvironmentFile=-/etc/systemd/system/installation-configuration.env

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
