[Unit]
Description=Image base SNO configuration script

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/bin/lca-cli post-pivot

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
