[Unit]
Description=Image base SNO configuration script
Before=nodeip-configuration.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/bin/prepare-installation-configuration.sh
ExecStopPost=-/usr/local/bin/lca-cli init-monitor --exec-stop-post config
EnvironmentFile=-/etc/systemd/system/installation-configuration.env

[Install]
WantedBy=multi-user.target
