# permissions for end users to edit ImageBasedUpgrades.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: ImageBasedUpgrade-editor-role
rules:
  - apiGroups:
      - lca.openshift.io
    resources:
      - ImageBasedUpgrades
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - lca.openshift.io
    resources:
      - ImageBasedUpgrades/status
    verbs:
      - get
