apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    containerImage: quay.io/openshift-kni/lifecycle-agent-operator
    description: The Lifecycle Agent for OpenShift provides local lifecycle management
      services for Single Node Openshift (SNO) clusters.
    features.operators.openshift.io/cnf: "false"
    features.operators.openshift.io/cni: "false"
    features.operators.openshift.io/csi: "false"
    features.operators.openshift.io/disconnected: "true"
    features.operators.openshift.io/fips-compliant: "true"
    features.operators.openshift.io/proxy-aware: "true"
    features.operators.openshift.io/tls-profiles: "false"
    features.operators.openshift.io/token-auth-aws: "false"
    features.operators.openshift.io/token-auth-azure: "false"
    features.operators.openshift.io/token-auth-gcp: "false"
    olm.skipRange: '>=4.14.0 <4.22.0'
    operatorframework.io/suggested-namespace: openshift-lifecycle-agent
    operatorframework.io/suggested-namespace-template: |-
      {
        "apiVersion": "v1",
        "kind": "Namespace",
        "metadata": {
          "name": "openshift-lifecycle-agent",
          "annotations": {
            "workload.openshift.io/allowed": "management"
          }
        }
      }
    operators.openshift.io/infrastructure-features: '["disconnected"]'
    operators.openshift.io/must-gather-image: $(PRECACHE_WORKLOAD_IMG)
    operators.openshift.io/valid-subscription: '["OpenShift Container Platform", "OpenShift
      Platform Plus"]'
    provider: Red Hat
    repository: https://github.com/openshift-kni/lifecycle-agent
    support: Red Hat
  labels:
    operatorframework.io/arch.amd64: supported
  name: lifecycle-agent.v4.22.0
  namespace: openshift-lifecycle-agent
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: IPConfig is the Schema for controlling node IP configuration lifecycle
        via lca-cli ip-config.
      displayName: IP Configuration
      kind: IPConfig
      name: ipconfigs.lca.openshift.io
      resources:
      - kind: Namespace
        name: ""
        version: v1
      specDescriptors:
      - displayName: Stage
        path: stage
      - displayName: IPv4
        path: ipv4
      - displayName: IPv6
        path: ipv6
      - displayName: DNS Servers
        path: dnsServers
      - displayName: VLAN ID
        path: vlanID
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:number
      - displayName: DNS Filter-Out Family
        path: dnsFilterOutFamily
      - displayName: Auto Rollback On Failure
        path: autoRollbackOnFailure
      - description: |-
          InitMonitorTimeoutSeconds defines the time frame in seconds. If not defined or set to 0, the default value of
          1800 seconds (30 minutes) is used.
        displayName: Init Monitor Timeout Seconds
        path: autoRollbackOnFailure.initMonitorTimeoutSeconds
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:number
      statusDescriptors:
      - displayName: Observed Generation
        path: observedGeneration
      - displayName: Conditions
        path: conditions
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes.conditions
      - displayName: IPv4
        path: ipv4
      - displayName: IPv6
        path: ipv6
      - displayName: DNS Servers
        path: dnsServers
      - displayName: VLAN ID
        path: vlanID
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:number
      - displayName: DNS Filter-Out Family
        path: dnsFilterOutFamily
      - displayName: Valid Next Stage
        path: validNextStages
      version: v1
    - description: ImageBasedUpgrade is the Schema for the ImageBasedUpgrades API
      displayName: Image-based Cluster Upgrade
      kind: ImageBasedUpgrade
      name: imagebasedupgrades.lca.openshift.io
      resources:
      - kind: Deployment
        name: ""
        version: apps/v1
      - kind: Namespace
        name: ""
        version: v1
      specDescriptors:
      - displayName: Auto Rollback On Failure
        path: autoRollbackOnFailure
      - description: |-
          InitMonitorTimeoutSeconds defines the time frame in seconds. If not defined or set to 0, the default value of
          1800 seconds (30 minutes) is used.
        displayName: Init Monitor Timeout Seconds
        path: autoRollbackOnFailure.initMonitorTimeoutSeconds
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:number
      - description: |-
          ExtraManifests defines the list of ConfigMap resources that contain the user-specific extra manifests to be
          applied during the upgrade post-pivot stage.
          Users can also add their custom catalog sources that may want to retain after the upgrade.
        displayName: Extra Manifests
        path: extraManifests
      - displayName: Name
        path: extraManifests[0].name
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      - displayName: Namespace
        path: extraManifests[0].namespace
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      - description: OADPContent defines the list of ConfigMap resources that contain
          the OADP Backup and Restore CRs.
        displayName: OADP Content
        path: oadpContent
      - displayName: Name
        path: oadpContent[0].name
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      - displayName: Namespace
        path: oadpContent[0].namespace
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      - displayName: Seed Image Reference
        path: seedImageRef
      - description: Image defines the full pull-spec of the seed container image
          to use.
        displayName: Image
        path: seedImageRef.image
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      - description: PullSecretRef defines the reference to a secret with credentials
          to pull container images.
        displayName: Pull Secret Reference
        path: seedImageRef.pullSecretRef
      - displayName: Name
        path: seedImageRef.pullSecretRef.name
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      - description: Version defines the target platform version. The value must match
          the version of the seed image.
        displayName: Version
        path: seedImageRef.version
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      - displayName: Stage
        path: stage
      statusDescriptors:
      - displayName: Conditions
        path: conditions
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes.conditions
      - displayName: Valid Next Stage
        path: validNextStages
      version: v1
    - description: SeedGenerator is the Schema for the seedgenerators API
      displayName: Seed Generator
      kind: SeedGenerator
      name: seedgenerators.lca.openshift.io
      resources:
      - kind: Namespace
        name: ""
        version: v1
      specDescriptors:
      - description: RecertImage defines the full pull-spec of the recert container
          image to use.
        displayName: Recert Image
        path: recertImage
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      - description: SeedImage defines the full pull-spec of the seed container image
          to be created.
        displayName: Seed Image
        path: seedImage
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      statusDescriptors:
      - displayName: Conditions
        path: conditions
        x-descriptors:
        - urn:alm:descriptor:io.kubernetes.conditions
      - displayName: Status
        path: observedGeneration
      version: v1
  description: "# Lifecycle Agent for OpenShift\nThe Lifecycle Agent for OpenShift
    provides local lifecycle management services \nfor Single Node Openshift (SNO)
    clusters.\n\n## Where to find more information\nYou can find additional guidance
    in the [agent repository](https://github.com/openshift-kni/lifecycle-agent).\n"
  displayName: Openshift Lifecycle Agent
  icon:
  - base64data: PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIgMTQ1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2UwMDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPlJlZEhhdC1Mb2dvLUhhdC1Db2xvcjwvdGl0bGU+PHBhdGggZD0iTTE1Ny43Nyw2Mi42MWExNCwxNCwwLDAsMSwuMzEsMy40MmMwLDE0Ljg4LTE4LjEsMTcuNDYtMzAuNjEsMTcuNDZDNzguODMsODMuNDksNDIuNTMsNTMuMjYsNDIuNTMsNDRhNi40Myw2LjQzLDAsMCwxLC4yMi0xLjk0bC0zLjY2LDkuMDZhMTguNDUsMTguNDUsMCwwLDAtMS41MSw3LjMzYzAsMTguMTEsNDEsNDUuNDgsODcuNzQsNDUuNDgsMjAuNjksMCwzNi40My03Ljc2LDM2LjQzLTIxLjc3LDAtMS4wOCwwLTEuOTQtMS43My0xMC4xM1oiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMjcuNDcsODMuNDljMTIuNTEsMCwzMC42MS0yLjU4LDMwLjYxLTE3LjQ2YTE0LDE0LDAsMCwwLS4zMS0zLjQybC03LjQ1LTMyLjM2Yy0xLjcyLTcuMTItMy4yMy0xMC4zNS0xNS43My0xNi42QzEyNC44OSw4LjY5LDEwMy43Ni41LDk3LjUxLjUsOTEuNjkuNSw5MCw4LDgzLjA2LDhjLTYuNjgsMC0xMS42NC01LjYtMTcuODktNS42LTYsMC05LjkxLDQuMDktMTIuOTMsMTIuNSwwLDAtOC40MSwyMy43Mi05LjQ5LDI3LjE2QTYuNDMsNi40MywwLDAsMCw0Mi41Myw0NGMwLDkuMjIsMzYuMywzOS40NSw4NC45NCwzOS40NU0xNjAsNzIuMDdjMS43Myw4LjE5LDEuNzMsOS4wNSwxLjczLDEwLjEzLDAsMTQtMTUuNzQsMjEuNzctMzYuNDMsMjEuNzdDNzguNTQsMTA0LDM3LjU4LDc2LjYsMzcuNTgsNTguNDlhMTguNDUsMTguNDUsMCwwLDEsMS41MS03LjMzQzIyLjI3LDUyLC41LDU1LC41LDc0LjIyYzAsMzEuNDgsNzQuNTksNzAuMjgsMTMzLjY1LDcwLjI4LDQ1LjI4LDAsNTYuNy0yMC40OCw1Ni43LTM2LjY1LDAtMTIuNzItMTEtMjcuMTYtMzAuODMtMzUuNzgiLz48L3N2Zz4=
    mediatype: image/svg+xml
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - upgrade
  links:
  - name: Lifecycle Agent
    url: https://lifecycle-agent.domain
  maturity: alpha
  provider:
    name: Red Hat
  replaces: lifecycle-agent.v0.0.0
  version: 0.0.1
