[Unit]
Description=IP configuration script
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/bin/lca-cli ip-config post-pivot

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
