---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: imagebasedupgrades.lca.openshift.io
spec:
  group: lca.openshift.io
  names:
    kind: ImageBasedUpgrade
    listKind: ImageBasedUpgradeList
    plural: imagebasedupgrades
    shortNames:
    - ibu
    singular: imagebasedupgrade
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    - jsonPath: .spec.stage
      name: Stage
      type: string
    - jsonPath: .status.conditions[-1:].type
      name: State
      type: string
    - jsonPath: .status.conditions[-1:].message
      name: Details
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ImageBasedUpgrade is the Schema for the ImageBasedUpgrades API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ImageBasedUpgradeSpec defines the desired state of ImageBasedUpgrade
            properties:
              additionalImages:
                description: ConfigMapRef defines a reference to a config map
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                - namespace
                type: object
              extraManifests:
                items:
                  description: ConfigMapRef defines a reference to a config map
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - name
                  - namespace
                  type: object
                type: array
              oadpContent:
                items:
                  description: ConfigMapRef defines a reference to a config map
                  properties:
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                  - name
                  - namespace
                  type: object
                type: array
              rollbackTarget:
                type: string
              seedImageRef:
                description: SeedImageRef defines the seed image and OCP version for
                  the upgrade
                properties:
                  image:
                    type: string
                  pullSecretRef:
                    description: PullSecretRef defines a reference to a secret with
                      credentials for pulling container images
                    properties:
                      name:
                        type: string
                    required:
                    - name
                    type: object
                  version:
                    type: string
                type: object
              stage:
                description: ImageBasedUpgradeStage defines the type for the IBU stage
                  field
                enum:
                - Idle
                - Prep
                - Upgrade
                - Rollback
                type: string
            type: object
          status:
            description: ImageBasedUpgradeStatus defines the observed state of ImageBasedUpgrade
            properties:
              completedAt:
                format: date-time
                type: string
              conditions:
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource. --- This struct is intended for direct
                    use as an array at the field path .status.conditions.  For example,
                    \n type FooStatus struct{ // Represents the observations of a
                    foo's current state. // Known .status.conditions.type are: \"Available\",
                    \"Progressing\", and \"Degraded\" // +patchMergeKey=type // +patchStrategy=merge
                    // +listType=map // +listMapKey=type Conditions []metav1.Condition
                    `json:\"conditions,omitempty\" patchStrategy:\"merge\" patchMergeKey:\"type\"
                    protobuf:\"bytes,1,rep,name=conditions\"` \n // other fields }"
                  properties:
                    lastTransitionTime:
                      description: lastTransitionTime is the last time the condition
                        transitioned from one status to another. This should be when
                        the underlying condition changed.  If that is not known, then
                        using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: message is a human readable message indicating
                        details about the transition. This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: observedGeneration represents the .metadata.generation
                        that the condition was set based upon. For instance, if .metadata.generation
                        is currently 12, but the .status.conditions[x].observedGeneration
                        is 9, the condition is out of date with respect to the current
                        state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: reason contains a programmatic identifier indicating
                        the reason for the condition's last transition. Producers
                        of specific condition types may define expected values and
                        meanings for this field, and whether the values are considered
                        a guaranteed API. The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        --- Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important. The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                format: int64
                type: integer
              startedAt:
                format: date-time
                type: string
              stateRoots:
                items:
                  description: StateRoot defines a list of saved pod states and the
                    running OCP version when they are saved
                  properties:
                    version:
                      type: string
                  type: object
                type: array
            type: object
        type: object
        x-kubernetes-validations:
        - message: can not change spec.seedImageRef while ibu is in progress
          rule: '!has(oldSelf.status) || oldSelf.status.conditions.exists(c, c.type==''Idle''
            && c.status==''True'') || has(oldSelf.spec.seedImageRef) && has(self.spec.seedImageRef)
            && oldSelf.spec.seedImageRef==self.spec.seedImageRef || !has(self.spec.seedImageRef)
            && !has(oldSelf.spec.seedImageRef)'
        - message: can not change spec.oadpContent while ibu is in progress
          rule: '!has(oldSelf.status) || oldSelf.status.conditions.exists(c, c.type==''Idle''
            && c.status==''True'') || has(oldSelf.spec.oadpContent) && has(self.spec.oadpContent)
            && oldSelf.spec.oadpContent==self.spec.oadpContent || !has(self.spec.oadpContent)
            && !has(oldSelf.spec.oadpContent)'
        - message: can not change spec.extraManifests while ibu is in progress
          rule: '!has(oldSelf.status) || oldSelf.status.conditions.exists(c, c.type==''Idle''
            && c.status==''True'') || has(oldSelf.spec.extraManifests) && has(self.spec.extraManifests)
            && oldSelf.spec.extraManifests==self.spec.extraManifests || !has(self.spec.extraManifests)
            && !has(oldSelf.spec.extraManifests)'
    served: true
    storage: true
    subresources:
      status: {}
